<div class="row mt-2">
    <div class="col-md-10">
        <input class="form-control form-control-lg border-info"
         type="text" [(ngModel)]="filtText" placeholder="Search Notes">
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal"
            data-target="#noteModal">Add</button>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-4" *ngFor="let onenote of notes | filtnotes : filtText "  >
        <div class="card border-info mb-3" style="max-width: 18rem;height: 200px">
            <div class="card-header">{{onenote.title}}</div>
            <div class="card-body text-info">
                <p class="card-text">{{onenote.description}}</p>
            </div>
            <div class="card-footer text-muted">
                <app-star [rating]='onenote.ratings'></app-star>
                <img src="../assets/images/delete.png" data-toggle="modal" data-target="#deleteModal" (click)='store(onenote.id)' class="float-right" alt="Edit">
                <img src="../assets/images/edit.png" class="float-right" alt="Delete" data-toggle="modal"
                data-target="#noteModal" (click)='editNotes(onenote.id)'>
            </div>
        </div>
    </div>
    
</div>

<!-- Modal Add -->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" class="text-info" id="exampleModalLabel">Add/Update Notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #notesForm='ngForm'>
                    <div class="form-group">
                        <label for="noteTitle">Title</label>
                        <input type="text" ngModel class="form-control" name="Title" 
                        #titleFormControl='ngModel' minlength="3" maxlength="100" [(ngModel)]='note.title'
                        id="noteTitle" placeholder="Enter Notes Title" (change)='log(titleFormControl)' required>
                        <div class="alert alert-warning" *ngIf='titleFormControl.touched && !titleFormControl.valid'>
                            <div *ngIf='titleFormControl.errors.required'>Please enter title</div>
                            <div *ngIf='titleFormControl.errors.minlength'>Please enter min of {{titleFormControl.errors.minlength.requiredLength}} char </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="noteDesc">Description</label>
                        <textarea ngModel class="form-control" name="Description" [(ngModel)]='note.description'  #descFormControl='ngModel'
                         id="noteDesc" rows="3" required></textarea>
                    </div>
                    <div class="form-group ">
                        <label for="noteTags">Tags</label>
                        <select id="noteTags" class="form-control" name="tagId" required [(ngModel)]='note.tagId' >
                            <option value="1" selected>Bank</option>
                            <option value="2">Study</option>
                            <option value="3">Other</option>

                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="noteRatings">Ratings</label>
                        <select id="noteRatings" class="form-control" name="ratings" required [(ngModel)]='note.ratings'>
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <!-- <br>
                    {{notesForm.value | json}} <br>
                    <b>valid </b>  {{notesForm.form.valid}} <br>
                    <b>invalid </b> {{notesForm.form.invalid}} <br>

                    <b>Title Control</b> <br>
                     {{'VALID ' +titleFormControl.valid + ' INVALID ' + titleFormControl.invalid}} <br>
                     {{'TOUCHED ' +titleFormControl.touched + ' UNTOUCHED ' + titleFormControl.untouched }} <br>
                     {{'DIRTY ' +titleFormControl.dirty + ' PRISTINE ' + titleFormControl.pristine }} <br> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary bg-info" 
                [disabled]='!notesForm.form.valid' (click)='addNotes(note, notesForm)' data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Notes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure, you want to delete this data?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)='deleteNotes()'>Delete</button>
        </div>
      </div>
    </div>
  </div>