<div class="row mt-2">
    <div class="col-md-10">
        <input class="form-control form-control-lg border-info" type="text" placeholder="Search Notes">
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal"
            data-target="#noteModal">Add</button>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Notes 1</div>
            <div class="card-body text-info">
                <h5 class="card-title">Info card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of
                    the card's content.</p>
            </div>
            <div class="card-footer text-muted">
                <span class="text-info">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                <img src="../assets/images/delete.png" class="float-right" alt="Edit">
                <img src="../assets/images/edit.png" class="float-right" alt="Delete">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Notes 2</div>
            <div class="card-body text-info">
                <h5 class="card-title">Info card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of
                    the card's content.</p>
            </div>
            <div class="card-footer text-muted">
                <span class="text-info">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                <img src="../assets/images/delete.png" class="float-right" alt="Edit">
                <img src="../assets/images/edit.png" class="float-right" alt="Delete">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Notes 3</div>
            <div class="card-body text-info">
                <h5 class="card-title">Info card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of
                    the card's content.</p>
            </div>
            <div class="card-footer text-muted">
                <span class="text-info">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                <img src="../assets/images/delete.png" class="float-right" alt="Edit">
                <img src="../assets/images/edit.png" class="float-right" alt="Delete">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Notes 1</div>
            <div class="card-body text-info">
                <h5 class="card-title">Info card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of
                    the card's content.</p>
            </div>
            <div class="card-footer text-muted">
                <span class="text-info">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                <img src="../assets/images/delete.png" class="float-right" alt="Edit">
                <img src="../assets/images/edit.png" class="float-right" alt="Delete">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Notes 2</div>
            <div class="card-body text-info">
                <h5 class="card-title">Info card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of
                    the card's content.</p>
            </div>
            <div class="card-footer text-muted">
                <span class="text-info">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                <img src="../assets/images/delete.png" class="float-right" alt="Edit">
                <img src="../assets/images/edit.png" class="float-right" alt="Delete">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Notes 3</div>
            <div class="card-body text-info">
                <h5 class="card-title">Info card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of
                    the card's content.</p>
            </div>
            <div class="card-footer text-muted">
                <span class="text-info">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                <img src="../assets/images/delete.png" class="float-right" alt="Edit">
                <img src="../assets/images/edit.png" class="float-right" alt="Delete">
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" class="text-info" id="exampleModalLabel">Add Notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="noteTitle">Title</label>
                        <input type="text" class="form-control" id="noteTitle" placeholder="Enter Notes Title">
                    </div>
                    <div class="form-group">
                        <label for="noteDesc">Description</label>
                        <textarea class="form-control" id="noteDesc" rows="3"></textarea>
                    </div>
                    <div class="form-group ">
                        <label for="noteTags">Tags</label>
                        <select id="noteTags" class="form-control">
                            <option value="Bank" selected>Bank</option>
                            <option value="Study">Study</option>
                            <option value="Other">Other</option>

                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="noteRatings">Ratings</label>
                        <select id="noteRatings" class="form-control">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary bg-info">Save changes</button>
            </div>
        </div>
    </div>
</div>