<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <strong class="text-info"> Notes App</strong>
        </a>
    </div>
</nav>

<div class="container">
<div class="row mt-4">
    <div class="col-md-3">
        <h1 class="mb-4">Tags</h1>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Bank Details</li>
                <li class="list-group-item">Study</li>
                <li class="list-group-item">Other</li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row mt-4">
            <div class="col-md-10">
                <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-info btn-lg">Add</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-info">
                        <h5 class="card-title">Info card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <div class="card-footer text-muted">
                            2 days ago
                          </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-info">
                        <h5 class="card-title">Info card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <div class="card-footer text-muted">
                            2 days ago
                          </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-info">
                        <h5 class="card-title">Info card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <div class="card-footer text-muted">
                            2 days ago
                          </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card border-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body text-info">
                            <h5 class="card-title">Info card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                        </div>
                        <div class="card-footer text-muted">
                                2 days ago
                              </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body text-info">
                            <h5 class="card-title">Info card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                        </div>
                        <div class="card-footer text-muted">
                                2 days ago
                              </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body text-info">
                            <h5 class="card-title">Info card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                        </div>
                        <div class="card-footer text-muted">
                                2 days ago
                              </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>